@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container border box-shadow " style="
background: #CECECE;
background: -webkit-linear-gradient(top left, #CECECE, #F9F9F9);
background: -moz-linear-gradient(top left, #CECECE, #F9F9F9);
background: linear-gradient(to bottom right, #CECECE, #F9F9F9);
border-radius:1em;">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>
