@model BBSuperMart.Models.Products
<form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border p-4 mt-5">
        <div class="form-group pb-3 pl-3 row"><h2 class="text-secondary">Add Category Details</h2></div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="title" class="form-control" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="image"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="image" class="form-control" />
                        <span asp-validation-for="image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="price" class="form-control" />
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="quantity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="quantity" class="form-control" />
                        <span asp-validation-for="quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="description" class="form-control" />
                        <span asp-validation-for="description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="addToWishlist"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="addToWishlist" class="form-control" />
                        <span asp-validation-for="addToWishlist" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CatId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="CatId" class="form-control" asp-items="@ViewBag.CategoryDropDown">
                            <option disabled selected>--select Category</option>
                        </select>
                        <span asp-validation-for="CatId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" value="Add" class="btn btn-outline-success w-100" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-outline-danger w-100">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @*keep this empty*@
            </div>
        </div>
    </div>
</form>

